@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
header{
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: #F6F1F1;
  padding: 30px;
  box-shadow: 0 0 10px black;
  backdrop-filter: blur(10px);
  z-index: 2;
}
.bars {
    display:flex;
    align-items: center;
   
  }

  
  .icon1 {
    position: relative;
    width: 60px;
    height: 60px;
    top: 0;
    
  }
  .icon1 {
    transition: transform 0.3s ease-in-out;
  }
  
  .icon1:hover {
    transform: rotate(360deg);
  }
  
.logo{
  position: relative;
  justify-content: space-between;
  left: 80px;
}
  
.title{
    color: black;
    text-decoration: none;
    position:fixed;
    top:55px;
    display: inline-flex;
    font-size: 25px;
    font-weight: bolder;
  }

  

  

body{
    padding: auto;
    background-color: #F6F1F1;
    background-size: cover;
    font-family: "Lato", sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
    

*{
    margin: 0;
    padding: 0;
}
.download-button {
  display: inline-flex;
  position: absolute;
  top: 40px;
  right: 220px;
  padding: 15px 30px !important;
 
  background-color: #B1003C;
  border-radius: 100px;
  text-decoration: none;
  color: #f5f5f5;
  text-transform: capitalize;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  overflow: hidden;
}

.download-button svg {
  position: relative;
  top: -2px;
  width: 25px;
  height: 25px;
  margin-left: 9px;
}

.download-button:hover {
  background-color: #2E8B57;
  transform: scale(1.1);
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}










.bookticket {
  display: inline-flex;
  position: absolute;
  top: 35%;
  right: 430px;
  padding: 14px 30px !important;
  font-family: 'Noto Sans';
  border-radius: 100px;
  text-decoration: none;
  color: #000;
  text-transform: capitalize;
  font-size: large;
  overflow: hidden;
}

.bookticket::before {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #2E8B57;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.3s ease-in-out;
}

.bookticket:hover::before {
  transform: scaleX(1);
}

  

.findbus {
  display: inline-flex;
  position: absolute;
  top: 35%;
  right: 580px;
  padding: 14px 30px !important;
  font-family: 'Noto Sans';
  border-radius: 100px;
  text-decoration: none;
  color: #000;
  text-transform: capitalize;
  font-size: large;
  overflow: hidden;
}

.findbus::before {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #2E8B57;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.3s ease-in-out;
}

.findbus:hover::before {
  transform: scaleX(1.1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  
}





  
/* Profile button */
.profile-button {
  position: absolute;
  right: 120px;
  top: 25px;
  width: 75px;
  height: 75px;
  border-radius: 70%;
  transition: transform 0.3s ease-in-out;
  background-color: #B1003C;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-button:hover {
  background-color: #2E8B57;
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.profile-button svg {
  width: 50px;
  height: 50px;
  fill: #f5f5ff;
  
}





.signin {
  position: absolute;
  right: 10px;
  top: 25px;
  color: #E6E2C3;
  
  background-color: #B1003C;
  border-radius: 70px;
  padding: 7px 20px !important;
  text-decoration: none;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.signin:hover {
  background-color: #2E8B57;
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}




#login {
  position: absolute;
  right: 10px;
  top: 75px;
  color: #E6E2C3;

  background-color: #B1003C;
  border-radius: 70px;
  padding: 7px 25px !important;
  text-decoration: none;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}



#login:hover {
  transform: scale(1.1);
  transform: translateY(-3px) scale(1.05);
  background-color: #2E8B57;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}




#menuToggle
{
  display: block;
  position: relative;
  top: 40px;
  left: 0;
  -webkit-user-select: none;
  user-select: none;
}

#menu
{
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 700px;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 50px;
  top: 225px;
  background-color: #001;
  list-style-type:none;
  -webkit-font-smoothing: antialiased;  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  clip-path: ellipse(100% 100% at 0% 50%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
  z-index: 4;
  left: 2%;
}

#menu a
{
  text-decoration: none;
  font-weight: bold;
  padding: 10px 0;
  color: #f5f5f5;
  text-decoration: none;
  font-size: 30px;
  align-self: center;
  justify-self: center;
  padding-bottom: 40px;
 
}

#menu a:hover
{
  color: #FF2E63;
}


 
#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; 
  
  -webkit-touch-callout: none;
}



 #menuToggle {
  position: absolute;
  top: 40%;
  left: 75px;
}

#menuToggle span {
  display: block;
  width: 30px;
  height: 3px;
  margin-bottom: 5px;
  background: #000;
  border-radius: 3px;
  position: relative;
  z-index: 5;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menuToggle input:checked ~ ul {
  transform: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}



:focus {
  border: 0 !important;
  box-shadow: 0 0 0 transparent !important;
}

*:focus-visible {
  outline: -webkit-focus-ring-color auto 0px !important;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 700px;
  max-width: 100% !important;
  padding: 50px 0;
  
}

.card-box img {
  width: 500px;
  height: auto;
  filter: drop-shadow(10px 10px 30px #00000049);
  transition: all 0.75s ease-in-out;
}
.card-content h2 {
  font-weight:bolder;
  color: #FFFF00;
 
}
.card-content p {
  padding: 9px 0;
  font-weight: 700;
  color: #ffff ;

  word-spacing: 4px;
  width: 75%;
  height: 50%;
}
.card-content .btn {
  padding: 13px 50px !important;
  border-radius: 100px;
  text-decoration: none;
  color: #fff;

  background-color: #000;
  border: 2px solid #000;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  overflow: hidden;
  position: relative;
}

.card-content .btn svg {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  position: absolute;
  top: 50%;
  left: 6px;
  transform: translateY(-50%);
  transition: fill 0.3s ease-in-out;
}

.card-content .btn:hover {
  background-color: #FF2E63;
  transform: scale(1.1);
}

.card-content .btn:hover svg {
  fill: #fff;
}

.card-box {
  padding: 20px 50px;
  width: 700px;
  height: 540px;
  transition-delay: 1s;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.card-box::after {
  content: "";
  position: absolute;
  background-color: #f7efe5;
  height: 350px;
  width: 350px;
  z-index: -1;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}
.card-content {
  
  width: 100%;
  scale: 1;
  opacity: 0;
  transition: all 0.1s ease-in-out;
}
.card-box:hover .card-content {
  transition: all 1  ease-in-out;
  min-width: 150px;
  scale: 1;
}
.card-box:hover .card-content {
  transition-delay: 0.3s;
  opacity: 1;
}
.card-box:hover {
  width: 5000px;
}
.card-box:hover::after {
  scale: 20;
  background-color: #EA5455;
  transition: all 1s ease-in-out;
}
.card-box:hover img {
  scale: 1.8;
}

   
    .info-cards{
      position: relative;
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
      padding-bottom: 200px;
    }
    
    .info-card {
      width: 300px;
      height: 300px;
      margin: 10px;
    }
    
    .flip-card {
      width: 100%;
      height: 100%;
      transition: transform 0.6s;
      transform-style: preserve-3d;
      
    }
    
    
    .info-card:hover .flip-card {
      transform: rotateY(180deg);
    }
    
    .flip-front,
    .flip-back {
      width: 100%;
      height: 100%;
      position: absolute;
      backface-visibility: hidden;
      border-radius: 10px;
    }
    
    .flip-front {
      background: linear-gradient(to right, #a6a6a6, #fff);
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
    }
    
    .flip-front p{
      position: absolute;
      bottom: 100px;
    }
    
    .flip-back {
      background: linear-gradient(to right, #B00, #032146);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transform: rotateY(180deg);
      color: #fff;
      font: 1rem sans-serif;
    }
    
    .flip-back p {
      padding: 1rem;
    }
    
 


#button1 {
  background-color: none;
  border-color: #0056b3;
  position: relative;
  width: 200px;
  height: 35px;
  color: #0056b3;
  text-decoration: none;
  padding: 5px 10px !important;
  border-radius: 20px 20px;
  top: 10px;
  overflow: hidden;
}

#button1:hover {
  background-color:#0056b3; 
  color: #F0E5CF;
}

#button1:before {
  content: ""; 
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(white 0%, transparent 80%);
  opacity: 0.5;
  border-radius: 50%;
  transform: scale(0.5) translate(-50%, -50%);
  transition: transform 1s ease-in-out;
  z-index: -1;
  /* Set z-index to -1 to position it behind the button */
}

#button1:hover:before {
  transform: scale(1) translate(-50%, -50%);
}

#button1:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  transition: width 0.3s ease-out, height 0.3s ease-out;
}

#button1:hover:after {
  width: 200px;
  height: 200px;
}


#button2 {
  background-color: none;
  border-color: #0056b3;
  position: relative;
  width: 200px;
  height: 35px;
  color: #0056b3;
  text-decoration: none;
  padding: 5px 10px !important;
  border-radius: 20px 20px;
  top: 10px;
  overflow: hidden;
}

#button2:hover {
  background-color:#0056b3; 
  color: #F0E5CF;
}

#button2:before {
  content: ""; 
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(white 0%, transparent 80%);
  opacity: 0.5;
  border-radius: 50%;
  transform: scale(0.5) translate(-50%, -50%);
  transition: transform 1s ease-in-out;
  z-index: -1;
  /* Set z-index to -1 to position it behind the button */
}

#button2:hover:before {
  transform: scale(1) translate(-50%, -50%);
}

#button2:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  transition: width 0.3s ease-out, height 0.3s ease-out;
}

#button2:hover:after {
  width: 200px;
  height: 200px;
}


#button3 {
  background-color: none;
  border-color: #0056b3;
  position: relative;
  width: 200px;
  height: 35px;
  color: #0056b3;
  text-decoration: none;
  padding: 5px 10px !important;
  border-radius: 20px 20px;
  top: 10px;
  overflow: hidden;
}

#button3:hover {
  background-color:#0056b3; 
  color: #F0E5CF;
}

#button3:before {
  content: ""; 
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(white 0%, transparent 80%);
  opacity: 0.5;
  border-radius: 50%;
  transform: scale(0.5) translate(-50%, -50%);
  transition: transform 1s ease-in-out;
  z-index: -1;
  /* Set z-index to -1 to position it behind the button */
}

#button3:hover:before {
  transform: scale(1) translate(-50%, -50%);
}

#button4:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  transition: width 0.3s ease-out, height 0.3s ease-out;
}

#button4:hover:after {
  width: 200px;
  height: 200px;
}

#button4 {
  background-color: none;
  border-color: #0056b3;
  position: relative;
  width: 200px;
  height: 35px;
  color: #0056b3;
  text-decoration: none;
  padding: 5px 10px !important;
  border-radius: 20px 20px;
  top: 10px;
  overflow: hidden;
}

#button4:hover {
  background-color:#0056b3; 
  color: #F0E5CF;
}

#button4:before {
  content: ""; 
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(white 0%, transparent 80%);
  opacity: 0.5;
  border-radius: 50%;
  transform: scale(0.5) translate(-50%, -50%);
  transition: transform 1s ease-in-out;
  z-index: -1;
  /* Set z-index to -1 to position it behind the button */
}

#button4:hover:before {
  transform: scale(1) translate(-50%, -50%);
}

#button4:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  transition: width 0.3s ease-out, height 0.3s ease-out;
}

#button4:hover:after {
  width: 200px;
  height: 200px;
}





.container2{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 100px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  text-align:initial;

}

.modal-content {
  background-color: gray;
  margin:10% auto;
  padding: 20px;
  width: 70%;
  height: auto;
  word-spacing: 3px;

}
.modal h1{
  color: #EA5455;
}
.modal li{
  padding-bottom:20px ;
  color: #F0E5CF;

}


.modal-child{
  padding-top: 0;
  padding-left: auto;
  width: 100%;

}

.modal ul{
  padding-bottom: 20px;
  color: rgb(88 199 250 / 100%);
 
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

body{
  margin:0;
  overflow-x:hidden;
  }
  
  .footer{
  background:#000;
  padding:30px 0px;
  font-family: 'Play', sans-serif;
  text-align:center;
  }
  
  .footer .row{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:gray;
  font-size:0.8em;
  }
  
  .footer .row a{
  text-decoration:none;
  color:gray;
  transition:0.5s;
  }
  
  .footer .row a:hover{
  color:#fff;
  }
  
  .footer .row ul{
  width:100%;
  }
  
  .footer .row ul li{
  display:inline-block;
  margin:0px 30px;
  }
  
  .footer .row a i{
  font-size:2em;
  margin:0% 1%;
  }
  
  @media (max-width:720px){
  .footer{
  text-align:left;
  padding:5%;
  }
  .footer .row ul li{
  display:block;
  margin:10px 0px;
  text-align:left;
  }
  .footer .row a i{
  margin:0% 3%;
  }
  }





@media only screen and (max-width: 1050px){
  .findbus{

    top: 20px;
    right: 430px;
   
  }
  .bookticket{
    right: 430px;
    top: 60px;
    
  }
}









  @media only screen and (max-width: 912px){
    .findbus{
      right: auto;
      top: 120px;
      left: 0px; 
    }
    .bookticket{
      right: auto;
      top: 150px;
      left: 0px;
    }
    .profile-button{
      right: 2.5%;
    }
 
    .signin{
        right:2.5%;
        top: 120px;
        
    }
    #login{
      right: 2.5%;
      top: 160px;
      
    }
    .title{
        display: flex;
        width: 25%;
        left: 50px;
   
        font-size: medium;
       
    }
    .download-button{
      top: 200px;
      right: 2%;
      left: auto;
      padding: 8px 15px !important;
    }
    .container{
      position: relative;
      top:90px
    }
    .card-box:hover .card-content {
      transition: all 0.5s ease-in-out;
      min-width: 300px;
      scale: 0.8;
      
    }
    
    .card-box{
      padding: 10px 20px;
      width: 400px;
      height: 400px;
   
    }
    .card-box:hover .card-content {
      transition: all 0.5s ease-in-out;
      min-width: 100px;
      scale: 0.8;
      
    }
   .card-box img{
      position: relative;
      width: 350px;
      height: auto;
    }
  
   
  }

 @media only screen and (max-width: 680px){
    .title{
        position: absolute;
        justify-self: center;
       
        height: auto;
        width: auto;
        left: 50%;
        transform: translateX(-50%);
        font-size:large;
    }
    .profile-button{
        top: 20px;
        width: 70px;
        height: 70px;
    }
    .profile-button img{
        display:block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        left: 20%;
    }
    .download-button{
        top: 200px;
        right: 1%;
        left: auto;
        padding: 5px 10px !important;
    }
    .text1{
        position: relative;
        left: 0%;
        width: 100%;
        
      
        top: 200px;
        padding: 0px;
    }
    .card-box{
        padding: 10px 20px;
        width: 300px;
        height: 300px;
    }
    .card-box:hover .card-content {
        transition: all 0.5s ease-in-out;
        min-width: 200px;
        scale: 0.7;
        font-size: small;
    }
    .card-box img{
        position: relative;
        width: 250px;
        height: auto;
    }
    .info-card-box{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        padding: 50px;
    }
    
}
