@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800&display=swap');

* {
  font-family: poppins, monospace;
}

* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;

  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 8px;
}

html,
body {
  overflow-x: hidden;
}

.header-nav {
  overflow-x: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: fixed;
  width: 100%;
  color: #F6F1F1;
  z-index: 9999;
  font-weight: 600;
  will-change: contents;
}








.header-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center; 
  
  padding: 50px;

}
.header-nav img {
  display: none;
  height: 100px; 
}

.header-nav .nav-buttons {
  display: flex;
  gap: 80px;
  margin-right: 3%;
  text-decoration: none;
}

.nav-btn {
  font-size: 1.2rem;
  padding: 15px;
  color: #eeeeee;
  position: relative;
  overflow: hidden;
}






.hamburger {
  position: fixed;
  right: 4%;
  top: 38px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  gap: 5px;
  cursor: pointer;
  z-index: 10000;
  transition: top 0.3s;
}

.line {
  display: inline-block;
  height: 2px;
  width: 25px;
  background-color: #17e2f9;

  z-index: 9999;
}

.nav-buttons-mobile {
  position: fixed;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(40vw);
  top: 50px;
  gap: 30px;
  height: 100vh;
  width: 60vw;
  backdrop-filter: blur(2px) saturate(180%);
  background-color: #000;

  z-index: 9998;
  padding: 10% 5%;
  transition: transform 0.3s ease;


  font-weight: 300;
}

.nav-buttons-mobile .nav-btn {
  width: 100%;
  text-align: center;
}

.nav-buttons-mobile a {
  text-decoration: none;
}








.hidden-nav {
  transform: translateX(100vw)
}

.close-1 {
  transform: rotate(45deg) translate(5px, 5px);
}

.close-2 {
  opacity: 0;
}

.close-3 {
  transform: rotate(-45deg) translate(5px, -5px);
}




@media screen and (min-width: 250px) and (max-width: 1000px) {

  .header-nav .nav-buttons {
    display: none;
    font-size: smaller;
  }

  .date-heading {
    font-size: 1rem;
  }

  .nav-buttons-mobile {
    display: flex;
  }



  .header-nav .branding .brand-name {
    transform: translateY(0);
  }

  h1 {
    font-size: 1.7rem;
  }

  .hamburger {
    display: flex;
  }




}